/*reset*/
a{text-decoration: none; color:inherit;}
.sr-only {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    clip: rect(0,0,0,0);
}




/*레이아웃*/
.sub-tit-box{padding:50px 0; background:rgba(30,189,142,0.7); margin-bottom:30px}
.sub-tit {font-weight: 600; color:#fff; text-align:center;}





/* 메인 페이지 */

/*메인 visual*/
.visual-bg {
	background:#1EBD8E;
	padding:100px 0 100px;
}








/*테이블 하단 카테고리 검색 박스*/
.table-search-box{
    width:502px;
    margin:0 auto;
}
.table-search-box select{width:55%}
.table-search-box input[type=text]{width:100%}
.table-search-box .table-search-btn{width:150px}

/*글쓰기 버튼(등록버튼) */
.new-btn{
    background: #1EBD8E;
    color: #fff;
    font-weight: bold;
    border: none;
}
.new-btn:hover,
.new-btn:focus {
	color: #fff;
	background:  #46DEB1;
    border-color: #46DEB1;
}
.new-btn-black{
    background: #000;
    color: #fff;
    font-weight: bold;
    border: none;
}
.new-btn-black:hover,
.new-btn-black:focus{
	background: rgba(0,0,0,0.7);
	color: #fff;
}

/*페이지 숫자(1,2,..) 버튼*/
.page-btn {margin-top:15px;}
.new-page-link {
    color: #000;
    border:none;
}
.new-page-link:hover,
.new-page-link:focus{
    color:#fff;
    background:  #46DEB1;
    border-color: #46DEB1;
}


.page-item:first-child .new-page-link, 
.page-item:last-child .new-page-link{
	border-radius: 0;
}
.active>.new-page-link,.new-page-link.active{
    color:#fff;
    background: #1EBD8E;
    border-color:#1EBD8E;
}


/*마이페이지*/
.mypage-table-box th, 
.mypage-table-box td{display:block}



