html,
.userform {
  height: 100%;
}

.userform {
  display: flex;
  padding-bottom: 40px;
  font-family: 'Noto Sans KR', sans-serif;
}


.form-signin {
  max-width: 500px;
  padding: 10px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin #floatingId {
  margin-top: 50px;
}

.form-signin input[type="password"] {
  margin-top: 10px;
  
}

.form-signin #floatingPhone, #floatingBirth{
  margin-top: 10px;
  
}

.form-signin #floatingEmail {
  margin-top: 10px;
  margin-bottom : 30px
  
}

.button{
	background: #1EBD8E;
	color:#ffffff;
	font-family: 'Noto Sans KR', sans-serif;
}

.button:hover{
	background-color: #46DEB1;
	color:#ffffff;
}

.main{
	color : #1EBD8E;
	font-family: 'Noto Sans', sans-serif;
	margin-top:150px;
}
