<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lecture">
	<select id="lectureList" parameterType="lectureDto" resultType="lectureDto">
		SELECT *
		FROM	
			(SELECT result1.*, ROWNUM as rnum
			FROM
				(SELECT num, teacher, writer,title, describe, imagePath, videoPath, viewCount, regdate, large_category,small_category
				FROM LECTURE
				<choose>
						<when test='small_category=="0"'>
							WHERE large_category=#{large_category}
						</when>
						<when test="small_category!=null">
							WHERE large_category=#{large_category} AND small_category=#{small_category}
						</when>
				</choose>
				ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<select id="getCount" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM LECTURE
	</select>
	
	<insert id="insert" parameterType="lectureRes">
		INSERT INTO LECTURE
		(num, teacher, writer,title, describe, imagePath,
		videoPath, viewCount, regdate, large_category,small_category)
		VALUES(LECTURE_seq.NEXTVAL, #{teacher}, #{writer, jdbcType=VARCHAR}, #{title}, #{describe},#{imagePath,jdbcType=VARCHAR}, #{videoPath}, #{viewCount}, SYSDATE, #{large_category}, #{small_category} )
	</insert>
	
	<select id="getData" parameterType="int" resultType="lectureDto">
		SELECT num, teacher, writer, title, describe, imagePath, videoPath, viewCount, regdate, large_category,small_category
		FROM LECTURE
		WHERE num = #{num}
	</select>
		<delete id="delete" parameterType="int">
		DELETE FROM LECTURE
		WHERE num = #{num}				
	</delete>
	<update id="addViewCount" parameterType="int">
		UPDATE LECTURE
		SET viewCount=viewCount+1
		WHERE num=#{num}
	</update>
	
	<update id="update" parameterType="lectureReq">
		UPDATE LECTURE
		SET title= #{title}, teacher=#{teacher},imagePath=#{imagePath,jdbcType=VARCHAR},describe=#{describe}, videoPath=#{videoPath}, large_category=#{large_category},small_category=#{small_category}
		WHERE num = #{num}
	</update>
	
</mapper>