<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lecture">
	<select id="frontEndList" parameterType="lectureDto" resultType="lectureDto">
		SELECT *
		FROM	
			(SELECT result1.*, ROWNUM as rnum
			FROM
				(SELECT num, teacher, writer,title, describe, imagePath, videoPath, viewCount, regdate, large_category,small_category
				FROM LECTURE
				WHERE large_category=1
				ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<select id="jsList" parameterType="lectureDto" resultType="lectureDto">
		SELECT *
		FROM	
			(SELECT result1.*, ROWNUM as rnum
			FROM
				(SELECT num, teacher, writer, title, describe, imagePath, videoPath, viewCount, regdate, large_category,small_category
				FROM LECTURE
				WHERE large_category=1 AND small_category=1
				ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<select id="html_cssList" parameterType="lectureDto" resultType="lectureDto">
		SELECT *
		FROM	
			(SELECT result1.*, ROWNUM as rnum
			FROM
				(SELECT num, teacher, writer, title, describe, imagePath, videoPath, viewCount, regdate, large_category,small_category
				FROM LECTURE
				WHERE large_category=1 AND small_category=2
				ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<select id="reactList" parameterType="lectureDto" resultType="lectureDto">
		SELECT *
		FROM	
			(SELECT result1.*, ROWNUM as rnum
			FROM
				(SELECT num, teacher, writer,title, describe, imagePath, videoPath, viewCount, regdate, large_category,small_category
				FROM LECTURE
				WHERE large_category=1 AND small_category=3
				ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<select id="vueList" parameterType="lectureDto" resultType="lectureDto">
		SELECT *
		FROM	
			(SELECT result1.*, ROWNUM as rnum
			FROM
				(SELECT num, teacher, writer, title, describe, imagePath, videoPath, viewCount, regdate, large_category,small_category
				FROM LECTURE
				WHERE large_category=1 AND small_category=4
				ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<select id="jQueryList" parameterType="lectureDto" resultType="lectureDto">
		SELECT *
		FROM	
			(SELECT result1.*, ROWNUM as rnum
			FROM
				(SELECT num, teacher, writer, title, describe, imagePath, videoPath, viewCount, regdate, large_category,small_category
				FROM LECTURE
				WHERE large_category=1 AND small_category=5
				ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<select id="backEndList" parameterType="lectureDto" resultType="lectureDto">
		SELECT *
		FROM	
			(SELECT result1.*, ROWNUM as rnum
			FROM
				(SELECT num, teacher, title, writer, describe, imagePath, videoPath, viewCount, regdate, large_category,small_category
				FROM LECTURE
				WHERE large_category=2
				ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<select id="javaList" parameterType="lectureDto" resultType="lectureDto">
		SELECT *
		FROM	
			(SELECT result1.*, ROWNUM as rnum
			FROM
				(SELECT num, teacher, writer,title, describe, imagePath, videoPath, viewCount, regdate, large_category,small_category
				FROM LECTURE
				WHERE large_category=2 AND small_category=6
				ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<select id="springList" parameterType="lectureDto" resultType="lectureDto">
		SELECT *
		FROM	
			(SELECT result1.*, ROWNUM as rnum
			FROM
				(SELECT num, teacher, writer, title, describe, imagePath, videoPath, viewCount, regdate, large_category,small_category
				FROM LECTURE
				WHERE large_category=2 AND small_category=7
				ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<select id="springbootList" parameterType="lectureDto" resultType="lectureDto">
		SELECT *
		FROM	
			(SELECT result1.*, ROWNUM as rnum
			FROM
				(SELECT num, teacher, writer,title, describe, imagePath, videoPath, viewCount, regdate, large_category,small_category
				FROM LECTURE
				WHERE large_category=2 AND small_category=8
				ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<select id="mobileList" parameterType="lectureDto" resultType="lectureDto">
		SELECT *
		FROM	
			(SELECT result1.*, ROWNUM as rnum
			FROM
				(SELECT num, teacher, writer,title, describe, imagePath, videoPath, viewCount, regdate, large_category,small_category
				FROM LECTURE
				WHERE large_category=3
				ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<select id="kotlinList" parameterType="lectureDto" resultType="lectureDto">
		SELECT *
		FROM	
			(SELECT result1.*, ROWNUM as rnum
			FROM
				(SELECT num, teacher, writer, title, describe, imagePath, videoPath, viewCount, regdate, large_category,small_category
				FROM LECTURE
				WHERE large_category=3 AND small_category=9
				ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	<select id="getCount" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM LECTURE
	</select>
	
	<insert id="insert" parameterType="lectureDto">
		INSERT INTO LECTURE
		(num, teacher, writer,title, describe, imagePath,
		videoPath, viewCount, regdate, large_category,small_category)
		VALUES(LECTURE_seq.NEXTVAL, #{teacher}, #{writer}, #{title}, #{describe},#{imagePath}, #{videoPath}, #{viewCount}, SYSDATE, #{large_category}, #{small_category} )
	</insert>
	
	<select id="getData" parameterType="int" resultType="lectureDto">
		SELECT num, teacher, writer, title, describe, imagePath, videoPath, viewCount, regdate, large_category,small_category
		FROM LECTURE
		WHERE num = #{num}
	</select>
		<delete id="delete" parameterType="int">
		DELETE FROM LECTURE
		WHERE num = #{num}				
	</delete>
	<update id="addViewCount" parameterType="int">
		UPDATE LECTURE
		SET viewCount=viewCount+1
		WHERE num=#{num}
	</update>
	
	<update id="update" parameterType="lectureDto">
		UPDATE LECTURE
		SET title= #{title}, teacher=#{teacher},imagePath=#{imagePath},describe=#{describe}, videoPath=#{videoPath}, large_category=#{large_category},small_category=#{small_category}
		WHERE num = #{num}
	</update>
</mapper>