<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lectureReview">

	<select id="getList" parameterType="lectureReviewDto" resultType="lectureReviewDto">
     SELECT *
      FROM
         (SELECT result1.*, ROWNUM AS rnum
         FROM
            (SELECT num, writer, content, target_id, ref_group, star,
               comment_group, deleted, LECTURE_REVIEW.regdate, profile
            FROM LECTURE_REVIEW
            INNER JOIN users
            ON LECTURE_REVIEW.writer=users.id
            WHERE ref_group=#{ref_group}
            ORDER BY comment_group ASC, num ASC) result1)
      WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}   
   </select>   
  
   <update id="delete" parameterType="int">
      UPDATE LECTURE_REVIEW
      SET deleted='yes'
      WHERE num=#{num}
   </update>
 
   <insert id="insert" parameterType="lectureReviewRes">
       INSERT INTO LECTURE_REVIEW
      (num, writer, content, target_id, ref_group, comment_group, regdate, star)
      VALUES(#{num}, #{writer}, #{content}, #{target_id}, #{ref_group},#{comment_group}, SYSDATE, #{star})
   </insert>
  
   <select id="getSequence" resultType="int">
      SELECT LECTURE_REVIEW_seq.NEXTVAL
      FROM DUAL
   </select>
   
   <update id="update" parameterType="lectureReviewReq">
      UPDATE LECTURE_REVIEW
      SET content=#{content}, star=#{star}
      WHERE num=#{num}
   </update>
   
   <select id="getData" parameterType="int" resultType="lectureReviewDto">
      SELECT num,writer,content,ref_group,comment_group,deleted,regdate,star
		FROM LECTURE_REVIEW
		WHERE num=#{num}
   </select>
   
   <select id="getCount" parameterType="int" resultType="int">
      SELECT NVL(MAX(ROWNUM), 0)
      FROM LECTURE_REVIEW
   </select>   
</mapper>