<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lectureStudent">

  <select id="getList" parameterType="lectureStudentDto" resultType="lectureStudentDto">
    	SELECT num, id, complete, lectureSign
    	FROM LECTURE_STUDENT  
  </select>   
  
  <insert id="lectureSignup" parameterType="lectureStudentDto">
	  INSERT INTO LECTURE_STUDENT
			(num, id)
			VALUES(#{num}, #{id})
   </insert>
   
   <select id="getSequence" resultType="int">
      SELECT LECTURE_STUDENT_seq.NEXTVAL
      FROM DUAL
   </select>
</mapper>