<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qnafree">

	<sql id="searchCondition">
      <choose>
         <when test="title != null and content != null">
            WHERE title LIKE '%'||#{title}||'%' OR content LIKE '%'||#{content}||'%'
         </when>
         <when test="title != null">
            WHERE title LIKE '%'||#{title}||'%'
         </when>
         <when test="writer != null">
            WHERE writer LIKE '%'||#{writer}||'%'
         </when>
      </choose>
   </sql>
	
	 <select id="getList" parameterType="QnaFreeDto" resultType="QnaFreeDto">
	      SELECT *
	      FROM
	         (SELECT result1.*, ROWNUM AS rnum
	         FROM
	            (SELECT num,writer,title,content,viewCount,regdate
	            FROM QNA_FREE_QUESTION
	            <include refid="searchCondition"/>
	            ORDER BY num DESC) result1)
	      <![CDATA[ 
	      WHERE rnum >= #{startRowNum} AND rnum <= #{endRowNum}
	      ]]>
	</select>
   
   <select id="getCount" parameterType="QnaFreeDto" resultType="int">
      SELECT NVL(MAX(ROWNUM), 0)
      FROM QNA_Free_QUESTION
      <include refid="searchCondition"/>
   </select>   

	<insert id="insert" parameterType="QnaFreeDto">
		INSERT INTO QNA_Free_QUESTION
		(num, writer, title, content, viewCount, regdate)
	   	VALUES(QNA_Free_QUESTION_seq.NEXTVAL, #{writer}, #{title}, 
	   		#{content}, #{viewCount}, SYSDATE)   	
	</insert>
	
	<select id="getData" parameterType="int" resultType="QnaFreeDto">
		SELECT result1.*
      	FROM
        		(SELECT num,writer,title,content,viewCount,TO_CHAR(regdate, 'YY.MM.DD HH24:MI') AS regdate,
            		LAG(num, 1, 0) OVER (ORDER BY num DESC) nextNum,
               	LEAD(num, 1, 0) OVER (ORDER BY num DESC) prevNum
          	FROM QNA_Free_QUESTION) result1
      	WHERE num=#{num}
	</select>
	
	<select id="getData2" parameterType="QnaFreeDto" resultType="QnaFreeDto">
		SELECT result1.*
      	FROM
        	(SELECT num,writer,title,content,viewCount,TO_CHAR(regdate, 'YY.MM.DD HH24:MI') AS regdate,
            	LAG(num, 1, 0) OVER (ORDER BY num DESC) nextNum,
               		LEAD(num, 1, 0) OVER (ORDER BY num DESC) prevNum
          	FROM QNA_FREE_QUESTION
          	<include refid="searchCondition"/>
          	) result1
      	WHERE num=#{num}
	</select>
	
	<update id="addViewCount" parameterType="int">
		UPDATE QNA_FREE_QUESTION
		SET viewCount=viewCount+1
		WHERE num=#{num}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM QNA_FREE_QUESTION
		WHERE num=#{num}				
	</delete>
	
	<update id="update" parameterType="QnaFreeDto">
		UPDATE QNA_FREE_QUESTION
		SET title=#{title}, content='${content}'
		WHERE num=#{num}
	</update>
</mapper>