html,
body{
	font-family: 'Noto Sans KR', sans-serif;
}

.button{
	background-color: #1EBD8E;
	color:#ffffff;
	font-family: 'Noto Sans KR', sans-serif;
}

.mainContent{
	width:98%;
	height:300px;
	border :1px solid black;
}